@import "../../scss/index.scss";

body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

.main-box {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .sub-box {
        display: grid;
        grid-template-columns: 406px 1fr;
        gap: 65px;
        align-items: center;
        .sub-box1 {
            .sub-box1-relative {
                height: 559px;
                position: relative;
                .sub-box1-relative-img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    box-shadow: -6px 8px 54px 0px rgba(0, 0, 0, 0.25);
                    img {
                        width: 242px;
                        height: 527px;
                    }
                }
                .sub-box1-relative-img2 {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    box-shadow: -6px 8px 54px 0px rgba(0, 0, 0, 0.25);
                    img {
                        width: 216px;
                        height: 469px;
                    }
                }
            }
        }
        .sub-box2 {
            display: flex;
            align-items: center;
            .sub-box2-main {
                width: 396px;
                .sub-box2-main-logo {
                    display: flex;
                    justify-content: center;
                    padding-bottom: 40px;
                    img {
                        width: 69px;
                    }
                }
                .sub-box2-main-pera {
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    p {
                        @include font16;
                        color: var(--color2);
                        margin-bottom: 50px;
                    }
                }
                .sub-box2-main-code {
                    display: flex;
                    justify-content: center;
                    .sub-box2-main-code-input {
                        display: flex;
                        align-items: center;
                        gap: 16px;
                        input {
                            width: 27px;
                            height: 8px;
                            padding: 20px 0 20px 20px;
                            display: block;
                            border: 1px solid var(--bordercolor1);
                        }
                    } 
                    ::placeholder {
                        @include font14;
                        color: var(--color2);
                    }
                }
                .sub-box2-main-button {
                    padding-top: 39px;
                }
                .sub-box2-main-ancer {
                    padding-top: 20px;
                    display: flex;
                    justify-content: center;
                    a {
                        @include font16;
                        color: var(--color1);
                        text-decoration-line: none;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .main-box {
        display: block;
        .sub-box {
            grid-template-columns: repeat(1, 1fr);
            padding: 20px;
            gap: 30px;
            .sub-box1 {
                .sub-box1-relative {
                    .sub-box1-relative-img {
                        img {
                            width: 200px;
                        }
                    }
                    .sub-box1-relative-img2 {
                        img {
                            width: 200px;
                        }
                    }
                }
            }
            .sub-box2 {
                .sub-box2-main {
                    width: 100%;
                    .sub-box2-main-logo {
                        img {
                            width: 60px;
                        }
                    }
                }
            }
        }
    }
}
