@import "../../scss/index.scss";

@import "../../scss/footer/footer.scss";

@import "../../scss/header/header.scss";

body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

section {
    .fitness {
        background-image: url(../images/Rectangle\ 154.png);
        width: 100%;
        height: 400px;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;

        .fitness-main {
            text-align: center;

            h1 {
                @include font60;
                color: var(--colorwhite);
                letter-spacing: 3px;
                margin-bottom: 10px;
            }

            p {
                @include font20;
                color: var(--colorwhite);
                font-weight: 400;
                max-width: 1000px;
            }
        }
    }

    .menubar {
        background-color: var(--bgcolor1);
        .container5 {
            .menubar-div {
                padding: 24px 0;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .menubar-div1 {
                    display: flex;
                    gap: 32px;

                    .menubar-div1-ancer {
                        @include font16;
                        font-weight: 700;
                        color: var(--color1);
                    }

                    a {
                        text-decoration-line: none;
                        @include font16;
                        font-weight: 400;
                        color: var(--color2);
                    }
                }

            }
        }
    }

    .me-series {
        display: flex;
        justify-content: center;
        .me-series-main {
            padding: 40px 0 130px 0;
            .me-series-main-div {
                display: grid;
                grid-template-columns: repeat(3,1fr);
                gap: 30px 22px;
                align-items: center;
                .me-series-main-div1 {
                    a {
                        text-decoration-line: none;
                        .me-series-main-div1-sub {
                            img {
                                display: block;
                            }
                            h1 {
                                @include font20;
                                font-weight: 600;
                                color: var(--color1);
                                padding: 18px 0 8px 0;
                            }
                            span {
                                display: block;
                                @include font16;
                                font-weight: 400;
                                color: var(--color2);
                                margin-bottom: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 576px) {
    
section {
    .fitness {
        .fitness-main {
            padding: 0 20px;

            h1 {
                @include font36;
            }

            p {
                @include font18;
                font-weight: 400;
            }
        }
    }

    .menubar {
        .container5 {
            .menubar-div {
                padding: 30px 20px 24px 20px;
                .menubar-div1 {
                    display: none;
                }
            }
        }
    }

    .me-series {
        .me-series-main {
            padding: 0 0 50px 0;
            .me-series-main-div {
                grid-template-columns: repeat(2,1fr);
                gap: 30px 16px;
                padding: 0 20px;
                align-items: flex-start;
                .me-series-main-div1 {
                    a {
                        .me-series-main-div1-sub {
                            img {
                                width: 165px;
                                height: 150px;
                                
                            }
                            h1 {
                                @include font14;
                                font-weight: 600;
                                color: var(--color1);
                                padding: 18px 0 8px 0;
                            }
                            span {
                                display: block;
                                @include font16;
                                font-weight: 400;
                                color: var(--color2);
                                margin-bottom: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}
}