:root {
    --colorwhite: #fff;
    --colorblack: #000;
    --color1: #181516;
    --color1to5: #18151680;
    --color2: #676262;
    --bordercolor1: #ddd;
    --bordercolor2: #dddddd33;
    --bordercolor3: #B8B7B780;
    --bgcolor1: #f6f6f6;
    --font-familylato: 'Lato', sans-serif;
}